body {
  background-color: hsl(120, 100%, 80%);
}

h1 {
  color: #66BFBF;
}

h3 {
  color: #66BFBF;  
}

hr {
border-style: none;
border-top-style: dotted;
border-color: grey;
border-width: 6px;
width: 5%;
}

hr {
  text-decoration-color: #66BFBF;
}
